.MdVideoCall{
    font-size: 1.5rem;
  }
  
  @media only screen and (max-width: 768px) {
    .MdVideoCall {
      font-size: 1rem;
    }
  }


.FaRegUserCircle{
    font-size: 1.5rem;
  }
  
@media only screen and (max-width: 768px) {
.FaRegUserCircle {
    font-size: 1rem;
}
}

.SiGamejolt{
    font-size: 2rem;
  }
  
@media only screen and (max-width: 768px) {
.SiGamejolt {
    font-size: 1.3rem;
}
}

.AiOutlineLike{
  font-size: 1.3rem;
}

@media only screen and (max-width: 768px) {
  .AiOutlineLike {
      font-size: 1.2rem;
  }
  }

  .AiOutlineDislike{
    font-size: 1.2rem;
    margin-top: 2px;
  }
  
  @media only screen and (max-width: 768px) {
    .AiOutlineDislike {
        font-size: 1.2rem;
        margin-top: 3px;
    }
    }

.PiShareFat {
  font-size: 1.3rem;
}

@media only screen and (max-width: 768px) {
  .AiOutlineDislike {
      font-size: 1.2rem;
  }
  }

.CiEdit{
  font-size:2rem;
}

.MdDeleteOutline{
  font-size:2rem;
}

.MdFileUpload{
  font-size:10rem;
}

@media only screen and (max-width: 768px) {
  .MdFileUpload {
      font-size: 6rem;
      margin-left: 10px;
  }
  }